<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>SkillFactory:E5.10</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/car.ico' %}">
  </head>
  <body>
    <div class="container text-secondary">
      <h3 class="text-dark font-weight-bold">SkillFactory: E5.10 Практическое задание</h3>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

